<<<<<<< HEAD
.sign-up-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Use full viewport height */
    background: url('/public/images/img-fallback.jpeg') no-repeat center center;
    background-size: cover;
  }
  
  .sign-up-content {
    text-align: center;
    color: white;
  }
  
  .sign-up-title {
    font-size: 4rem; /* Adjust size as necessary */
    margin-bottom: 2rem;
  }
  
  .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sign-up-input {
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 4px;
    width: 300px; /* Adjust width as necessary */
  }
  
  .sign-up-button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    color: white;
    background-color: #f58634; /* A basketball orange color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .sign-up-button:hover {
    background-color: #e57228; /* Darker shade for hover state */
  }
  
=======
.sign-up-h1 {
    font-size: 100px;
    margin-top: -200px;
    margin-right: -175px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

.sign-up-form {
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    margin-left: -200px;
}

.input-areas {
    display: flex;
}
>>>>>>> 9af568b49d07e2ecf844c62fbcce8f5f1f775b2f
